VITE_SUPABASE_URL=https://rrgjyyhxmfzogpvevuoo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJyZ2p5eWh4bWZ6b2dwdmV2dW9vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY3Mjk0MTQsImV4cCI6MjEwMjMwNTQxNH0.7AeNCDPDJnpg7BuGfOFQ5OUpb_tq5JemfyuyYFFBw-4
VITE_API_URL=http://localhost:8787
